/* * {
    margin : 0;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif
    fo 
}

body{
    display: flex;
    justify-content: center;
    align-items: center; 
  } */
  .logintitle{
   
    width: 286px;
    height: 24px;
   
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}
  
.cover {
    background-color: #00324A;
    position: absolute;
    width: 530px;
    height: 765px;
    left: 416px;
    top: 110px;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    left:35%;
    
    
}


.alt-login {
    width: 80%;
    height:3em;
    display: flex;
    justify-content: space-around;
    transition: ease 0.5s
    
}
.alt-login div {
    width: 40%;
    height: 90%;
    border-radius: 0.5em;
    background-color: rgb(255, 255, 255);
    background-position: center;
    border: 1px solid rgb(255, 255, 255);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: ease 0.5s;
}
.alt-login div:hover{
    transform: scale(1.25);
    transition: ease 0.5s;
}

.Google {background-image: url("https://cdn.iconscout.com/icon/free/png-256/google-470-675827.png");
    background-size: 20% !important;
}

.GitHub{
    background-image: url("../Assets/githubfinal.png");
    background-size: 20% !important;
    
}

.login-btn{
    width: 40%;
    height: 3em;
    background-color: #32A4DD;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    margin-bottom: -50px;
}


.login-btn:hover{
    transform: scale(1.25);
    transition: 0.5s;
}

input{
    background: #FFFFFF;
    border: 2px solid #8E8E8E;
    border-radius: 12px;
    position: relative;
width: 352px;
height: 44px;
margin-bottom: -50px;
    
    
}

input:focus {
    outline-color: #32A4DD;
}

.text{
    font-size: 1px;
    position: relative;
    bottom: -2em;
}

.hide {
    position: absolute;
    transform: scale(0);
}

.login-popup {
    position: absolute;
    width: 530px;
    height: 765px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;}

.signUP {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    font-weight: 500;
    align-items: center;
}
.sign {
    color: white;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
    margin: auto;
}