.nameandprofile {
    display: flex ;
    flex-direction: row ;
    justify-content: space-evenly ;
    margin-left: 50px ;
    margin-top: 20px ;
    gap: 140px;
}

.personalpanel {
    display: flex ;
    flex-direction: column ;
    justify-content: first baseline ;


    background-color: #fdfdfd;
    border: 1px solid rgb(255, 255, 255) ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) ;
    border-radius: 10px ;
    right: 200px;
    width: 300px ;
    height: 700px;
    margin: 40px 10px ;
    padding: 50px 50px 50px 50px ;
    position: fixed;
}

.profilepic {
    width: 300px ;
    height: 300px ;
    padding: 5px 5px 5px 5px ;
    margin-top: -15px ;
    border-radius: 20px;
    
}

.peoplenames {
    width: 1400px;
    height: 900px ; /* Set the height of the div */
    overflow-x: hidden ; /* Add scrollbar to the div */
    overflow-y: auto ; /* hide vertical scrollbar */
    margin-top: 50px ;
    margin-left: 100px;
    display: flex ;
    flex-direction: column ;
    text-align: justify ;
    
}

.buttontext {
    display: grid ;
    grid-template-columns: repeat(2, 1fr) ;
    grid-gap: 10px ; /* Add some spacing between the columns */
    border: none ;
    background-color: transparent ;
    font-size: inherit ;
    font-family: inherit ;
    text-align: justify ;
    margin-left: ;
    width: 300px ;
    cursor: pointer;
}

.linebreak123 {
    width: 900px ;
    color: darkblue;
}

.namecohort {
    display: flex ;
    flex-direction: row ;
    align-items: baseline ;
    gap: 100px ;
}

.topheadings {
    display: flex ;
    flex-direction: row ;
    gap: 360px ; 
}

.peoplenames::-webkit-scrollbar {
    width: 12px ;
    height: 5px ;
  }
  
  .peoplenames::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px ;
  }
  
  .peoplenames::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px ;
  }
  
  .peoplenames::-webkit-scrollbar-thumb:hover {
    background-color: #555 ;
  }

  .proficiencyfields {
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    justify-content: flex-start ;
    gap: 10px ;
    text-align: left ;
    height: 25px ;
  }

  .proficiencytext {
    width: 52px;
    font-size: 12px;
  }

  .personname {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .progressEnds {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 145px;
    margin-top: -5px;
  }

  .linebreakright {
    width: 320px;
    margin-top: -8px;
    margin-bottom: -2px;
  }

  .github {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    margin-top: px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 5px;
  }

  .githublogo {
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }

  .newlinebreak {
    border-top: 2px solid black;
  }

  .blackline {
    width: 900px;
    z-index: 999;
  }

  .plainline {
    border-bottom: 2px solid rgb(150, 150, 180);
    width: 750px;
  }

  .plainline123right {
    width: 320px;
    border-bottom: 2px solid #00324A;
    margin-bottom: 10px;
    margin-top: -10px;
    opacity: 0.3;
  }

  .linkedinlogo {
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }

  .linkedin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    margin-top: px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 5px;
  }

  .myName {
    margin: 0 auto;
  }

  .slack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    margin-top: px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 5px;
  }

  .slacklogo {
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }

  .email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    margin-top: px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 5px;
  }

  .emaillogo {
    width: 30px;
    opacity: 0.5;
    
  }