.slidecontainer {
  width: min(50%, 23rem);
  position: relative;
}

.slider {
  -webkit-appearance: none;
  width: 240px;
  height: 8px;
  border-radius: 30px;
  background: #c4c4c4;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 75%;
  background: #4b4e4b;
  cursor: pointer;
  transition:  0.5s ease;
}