.navbar {
    position: fixed;
    height: 55px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-top: 0px;
    top: 0;
    z-index: 1;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 30px;
    color: #696969;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .navbar-toggle:hover {
    color: #303030;
  }
  .navbar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0 20px;
    list-style: none;
    
  }
  
  .navbar-menu-item {
    margin: 0;
    padding: 5px;
  }
  
  .navbar-menu-link {
    display: block;
    padding: 10px 10px;
    color: #303030;
    text-decoration: none;
    
   
  }

  .navbar-menu-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

    padding: 10px 10px;
    width: 5px;
    height: 5px;
    color: #303030;
    text-decoration: none;
    font-size: 30px;
    opacity: 0.6;
  }

  .navbar-menu-icon:hover {
    opacity: 1;
  }
  .ReadySupport {
    justify-content: space-between;
    
  }
  .toggle {
    top: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  
 /* Sidebar styles */
.sidebar {
    position: fixed;
    top: 55px; /* set to the height of the navbar */
    left: -200px;
    width: 200px;
    padding-top : 10px;
    height: calc(100% - 60px); /* adjust for the navbar height */
    background-color: #00324A;
    transition: left 0.3s ease;
    color: white;
  }

  .sidelogo {
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar-menu {
    margin: 0;
    padding: 30px;
    list-style: none;
  }
  
  .sidebar-menu-item {
    margin: 0;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar-menu-link {
    display: block;
    padding: 10px 20px;
    margin: 10px 0px;
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #d8d8d8;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #32A4DD;
  }
  .sidebar a:active {
    color: #32A4DD;
  }


  .ReadySupport {
    position: absolute;
    top: -3px;
    left: 25px;
    font-size: 1rem;
    margin-left: 50px;

  }



  .loginbutton {
    align-items: center;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.;
    margin: 0 10px;
    padding:5px 31px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .loginbutton:active {
    background-color: #1C84FF;
  }
  
  .loginbutton:hover {
    background-color: #1C84FF;
  }

  hr {
    border: 1px solid #ffffff;
    margin-bottom: 25px;
    opacity: 0.1;
    width: 75%;
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #navIcon {
    height:19px;
    width: 19px;
    margin: 5px;
    opacity: 0.6;
padding-top: 3px;

  }
  #navIcon:hover {
    opacity: 1;
    scale: 1.2;
  }

.SupportingNow {
    opacity: 0.6;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.SupportingNow img {
    height:30px;
}

.loggedout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 10px;


}

.register{
  background-color: transparent;
  
  border: none;
  text-decoration: underline;
  font-weight: 600;
}
/* .loggedoutImg {
  height: 10px;
  width: 10px;
  margin: 0 10px;

} */

#loggedOutnavIcon {
  height:39px;
  margin: 5px;
padding-top: 3px;

}
#loggedOutnavIcon:hover {
  opacity: 1;
  scale: 1.2;
}
